<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:property name="Interface10" value="PositionJointInterface"/>
	<xacro:property name="Interface30" value="EffortJointInterface"/>

	<xacro:macro name="dobot_m1_transmission" params="name">

		<transmission name="${name}_z_axis_joint_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_z_axis_joint">
				<hardwareInterface>${Interface10}</hardwareInterface>
			</joint>
			<actuator name="${name}_z_axis_joint_motor">
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_axis_2_joint_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_axis_2_joint">
				<hardwareInterface>${Interface10}</hardwareInterface>
			</joint>
			<actuator name="${name}_axis_2_joint_motor">
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_axis_3_joint_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_axis_3_joint">
				<hardwareInterface>${Interface10}</hardwareInterface>
			</joint>
			<actuator name="${name}_axis_3_joint_motor">
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>

		<transmission name="${name}_axis_4_joint_trans">
			<type>transmission_interface/SimpleTransmission</type>
			<joint name="${name}_axis_4_joint">
				<hardwareInterface>${Interface10}</hardwareInterface>
			</joint>
			<actuator name="${name}_axis_4_joint_motor">
				<mechanicalReduction>1.0</mechanicalReduction>
			</actuator>
		</transmission>

	</xacro:macro>

</robot>
